body  {
  font:13.34px helvetica,arial,freesans,clean,sans-serif;
}

body * {
  line-height: 1.4em;
}

img {
  border: none;
}

.container {
  margin: 0 50px 0 50px;
}

.clear {
  clear: both;
}

.footer {
  margin-top: 50px;
  text-align: center;
  font-size: 10px;
  color: grey;
}

.footer a{
  color: grey;
}


a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

input[type="text"] {
  border:1px solid #CCCCCC;
  color:#999999;
  font:inherit;
}
input[type="text"]:focus, input[type="text"].focused {
  border-color:#000000;
  color:#333333;
}

.sidebar {
  float: left;
}

.main {
  width: 565px;
  margin: 0 0 0 235px;
}

.header {
  background: url("/header-line.png") repeat-y scroll 0 0 transparent;
}

.header img {
  margin: 0 0 0 10px;
}

.error {
  width: 225px;
  background-color: red;
  text-align: center;
  font-weight: bold;
}

.small {
  font-size: 10px;
}

.edit-link {
  font-size: 9px;
  font-weight: normal;
}

.edit-link:hover {
  text-decoration: underline;
  cursor: pointer;
}

#connection, #buckets, #keys {
  width: 225px;
  background: url("/box_back.png") repeat-y scroll 0 0 transparent;
}

#keys h2, #buckets h2, #connection h2 {
  color:#52595D;
  font-size:16px;
  height:44px;
  line-height:44px;
  margin:0;
  padding:0 10px;
  text-align: center;
}

#keys ul#keys-list {
  margin-left: -35px;
}

#keys ul li a {
  display:block;
  font-size:14px;
  padding:2px 10px 2px;
  text-decoration: none;
  color: #4183C4;
}

#keys ul li a:hover {
  text-decoration: underline;
}

#keys ul#keys-list li {
  display: block;
  border-style: none none solid;
  border-width: medium medium 1px;
  border-color: -moz-use-text-color -moz-use-text-color #E5E5E5;
  margin: 0;
}

#keys .filter-bar .filter {
  background: url("/filter_input.png") no-repeat scroll 0 -19px transparent;
  border: medium none;
  height: 15px;
  padding: 2px 0 2px 13px;
  width: 200px;  
  margin: 5px 0 0 10px;
}

#keys .filter-bar .filter.placeholder {
  background-position: 0 0;
}

.top-bar {
  background: url("/box_top.png") no-repeat scroll 0 0 transparent;
}

#keys .bottom-bar {
  margin-left:-2px;
  min-height:13px;
  padding:0 2px 3px;
  width:100%;
}

#buckets {
  width: 225px;
  background: url("/box_back.png") repeat-y scroll 0 0 transparent;
  margin: 5px 0 10px 0px;
}

#buckets select {
  font-size: 14px;
  margin: 5px 0 0 15px;
  width: 190px;
}

#buckets textarea {
  width: 220px;
  height: 75px;
}

#connection {
  font-weight: bold;
}
#connection .select-bar {
  margin: 4px 0 5px 8px;
}
#connection .select-bar input[type="text"] {
  width: 100px;
  margin: 0 0 3px 0;
}
      
#connection input[type="submit"], 
#buckets input[type="submit"],
#keys input[type="submit"] {
  width: 200px;
  height: 20px;
  font-size: 11px;
  font-weight: bold;
}

#keys input[type="text"] {
  margin: 5px 0 5px 5px;
  width: 185px;
}

.main h2 {
  font-size: 16px;
  color: white;
  background: grey;
  font-weight: bold;
  padding: 3px 0px 3px 5px;
  margin: 0 0 0 0;
}

.main label {
  font-weight: bold;
}

.main .buttons {
  width: 300px;
  margin: 5px 0 0 295px;
}

.main .buttons input[value="Update"] {
  margin-left: 20px;
}

#key-data {
  width: 560px;
  height: 400px;
  display: block;
}

#mapredcode {
  width: 560px;
  height: 250px;
  display: block;
}

textarea#results {
  width: 560px;
  height: 400px;
  display: block;
}

#image-data {
  margin: 30px;
  width: 560px;
  #height: 100px;
  text-align: center;
}
